root = true\r\n\r\n[*]\r\ncharset = utf-8\r\nend_of_line = lf\r\ninsert_final_newline = true\r\nindent_style = space\r\ntrim_trailing_whitespace = true\r\n\r\n[*.php]\r\nindent_size = 4\r\n\r\n[*.js]\r\nindent_size = 2\r\n\r\n[*.css]\r\nindent_size = 2\r\n\r\n[*.po]\r\nindent_size = 2\r\n\r\n[*.pot]\r\nindent_size = 2\r\n\r\n[*.md]\r\nindent_size = 2