parameters:
    level: 5
    paths:
        - wpcleanadmin
    ignoreErrors:
        - '#Undefined function [a-zA-Z0-9_\\]+#'
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php

includes:
    - phpstan-baseline.neon